body {
  background-color: #111;
}
.box1 {
  position: relative;
  width: 150px;
  height: 150px;
  background-color: gold;
  border-radius: 50%;
}
.box1::before {
  content: '';
  position: absolute;
  background-color: red;
  width: 150px;
  height: 150px;
  top: 0;
  left: 100%;
}
.box1::after {
  content: '';
  position: absolute;
  background-color: aqua;
  width: 150px;
  height: 150px;
  top: 0;
  left: 350%;
}
